<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Flask App</title>
    <!-- CSS only -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
    <!-- JavaScript Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4"
        crossorigin="anonymous"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/main.js') }}"></script>

</head>

<body>
    <div>
        <h1>{{ message }}</h1>
    </div>
    <form method="POST" action="/">
        <div>오늘의 날씨는 어땠습니까?</div>
        <div>
            <input type="radio" name="weather" id="sunny" value="sunny" required>
            <label for="sunny">맑음</label>

            <input type="radio" name="weather" id="cloudy" value="cloudy">
            <label for="cloudy">흐림</label>

            <input type="radio" name="weather" id="snowy" value="snowy">
            <label for="snowy">눈</label>

            <input type="radio" name="weather" id="foggy" value="foggy">
            <label for="foggy">안개</label>

            <input type="radio" name="weather" id="rainy" value="rainy">
            <label for="rainy">비</label>

            <input type="radio" name="weather" id="hail" value="hail">
            <label for="hail">우박</label>
        </div>



        <div>오늘의 감정은 어땠습니까?</div>
        <div>
            <input type="radio" name="mood" id="happy" value="happy" required>
            <label class="form-check-label" for="happy">행복</label>

            <input type="radio" name="mood" id="pleasure" value="pleasure">
            <label class="form-check-label" for="pleasure">즐거움</label>

            <input type="radio" name="mood" id="sad" value="sad">
            <label class="form-check-label" for="sad">슬픔</label>

            <input type="radio" name="mood" id="angry" value="angry">
            <label class="form-check-label" for="angry">화남</label>

            <input type="radio" name="mood" id="annoyed" value="annoyed">
            <label class="form-check-label" for="annoyed">짜증남</label>

            <input type="radio" name="mood" id="depression" value="depression">
            <label class="form-check-label" for="depression">우울함</label>

            <input type="radio" name="mood" id="lonely" value="lonely">
            <label class="form-check-label" for="lonely">외로움</label>

            <input type="radio" name="mood" id="nervous" value="nervous">
            <label class="form-check-label" for="nervous">긴장됨</label>

            <input type="radio" name="mood" id="excitement" value="excitement">
            <label class="form-check-label" for="excitement">설렘</label>

            <input type="radio" name="mood" id="hopeless" value="hopeless">
            <label class="form-check-label" for="hopeless">절망적</label>
        </div>
        <div>
            오늘 중요 사건을 20자 이내로 적으세요.
        </div>
        <div>
            <input type="text" name="content" id="content" maxlength="20" required>
        </div>
        <input type="submit" value="제출">
    </form>



</body>

</html>